
/* Tabs */

.tab {
    -fx-pref-width: 180;
    -fx-pref-height: 40;
    -fx-font-family: Roboto;
}

.tab-header-background {
    -fx-background-color: #37474F;


}

.table-column {
    -fx-background-color: #263238;
    -fx-font-family: Roboto;
}

.table-view .column-header-background .label{
    -fx-text-fill: white;
}

.table-view .filler {
    -fx-background-color: #263238;
}